<div class="wrapper">
  <!-- BEGIN HEADER -->
  <header class="page-header">
    <nav class="navbar mega-menu" role="navigation">
      <div class="container-fluid">
        <div class="clearfix navbar-fixed-top">
          <!-- Brand and toggle get grouped for better mobile display -->
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-responsive-collapse">
            <span class="sr-only">navigation</span>
            <span class="toggle-icon">
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </span>
          </button>
          <!-- End Toggle Button -->
          <!-- BEGIN LOGO -->
          <a id="index" class="page-logo" href="#" routerLink="/admin">
            <!--img src="../assets/layouts/layout5/img/logo.png" alt="Logo"-->
            Acceuil
          </a>
          <!-- END LOGO -->
          <!-- BEGIN SEARCH -->
          <form class="search" action="extra_search.html" method="GET">
            <input type="name" class="form-control" name="query" placeholder="Search...">
            <a href="javascript:;" class="btn submit md-skip">
              <i class="fa fa-search"></i>
            </a>
          </form>
          <!-- END SEARCH -->
          <!-- BEGIN TOPBAR ACTIONS -->
          <div class="topbar-actions">
            <!-- BEGIN QUICK SIDEBAR TOGGLER -->
            <button type="button" class="quick-sidebar-toggler" (click)="authService.logout()">
              <span class="sr-only">Toggle Quick Sidebar</span>
              <i class="icon-logout"></i>
            </button>
            <!-- END QUICK SIDEBAR TOGGLER -->
          </div>
          <!-- END TOPBAR ACTIONS -->
        </div>
        <!-- BEGIN HEADER MENU -->
        <div class="nav-collapse collapse navbar-collapse navbar-responsive-collapse">
          <ul class="nav navbar-nav">
            <li class="dropdown dropdown-fw dropdown-fw-disabled" routerLink="/admin/overview" routerLinkActive="active open selected" [routerLinkActiveOptions]="{exact: true}">
              <a href="javascript:;" class="text-uppercase">
                <i class="icon-home"></i> Tableau de bord
              </a>
            </li>
            <li class="dropdown dropdown-fw dropdown-fw-disabled" routerLink="/admin/products" routerLinkActive="active open selected">
              <a href="javascript:;" class="text-uppercase">
                <i class="icon-puzzle"></i> Chef produit
              </a>
            </li>
            <li class="dropdown dropdown-fw dropdown-fw-disabled" routerLink="/admin/orders" routerLinkActive="active open selected">
              <a href="javascript:;" class="text-uppercase">
                <i class="icon-briefcase"></i> Commandes
              </a>
            </li>
          </ul>
        </div>
        <!-- END HEADER MENU -->
      </div>
      <!--/container-->
    </nav>
  </header>
  <div class="">
    <div class="page-content" style="padding-top:0px;">
      <router-outlet></router-outlet>
    </div>
    </div>
      <!-- END HEADER -->
    </div>
