<div class="text-right p-1">
  <small *ngIf="itemCount > 0; else empty" class="text-primary">
    ({{ itemCount }} Produit(s) dans le panier {{ totalPrice | currency:"EUR":true }})
  </small>
  <button class="btn btn-sm ml-1 btn-primary"
          [disabled]="itemCount == 0"
          routerLink="/cart">
    Voir le panier
    <i class="glyphicon glyphicon-shopping-cart"> </i>
  </button>
</div>
<ng-template #empty>
  <small class="text-muted">
    (le panier est vide)
  </small>
</ng-template>
