<div class="navbar bg-inverse ">
  <a class="navbar-brand text-white">Shop rova</a>
</div>
<div class="m-1">
  <h2 class="text-center">Votre panier</h2>
  <table class="table table-bordered table-striped p-1">
    <thead>
      <tr>
        <th>Quantité</th>
        <th>Produit</th>
        <th class="text-right">Prix</th>
        <th class="text-right">Sous-total</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngIf="cart.selections.length == 0">
        <td colspan="4" class="text-xs-center">
          Votre panier est vide
        </td>
      </tr>
      <tr *ngFor="let sel of cart.selections">
        <td>
          <input type="number" class="form-control-sm"
                 style="width:5em" [(ngModel)]="sel.quantity" />
        </td>
        <td>{{sel.name}}</td>
        <td class="text-right">
          {{sel.price | currency:"EUR":true:"2.2-2"}}
        </td>
        <td class="text-right">
          {{(sel.quantity * sel.price) | currency:"EUR":true:"2.2-2" }}
        </td>
        <td class="text-center">
          <button class="btn btn-sm btn-danger"
                  (click)="cart.updateQuantity(sel.productId, 0)">
            Remove
          </button>
        </td>
      </tr>
    </tbody>
    <tfoot>
      <tr>
        <td colspan="3" class="text-right">Total:</td>
        <td class="text-right">
          {{cart.totalPrice | currency:"EUR":true:"2.2-2"}}
        </td>
      </tr>
    </tfoot>
  </table>
</div>
<div class="text-center">
  <button class="btn btn-primary" routerLink="/store">Continue Shopping</button>
  <button class="btn btn-secondary" routerLink="/checkout"
          [disabled]="cart.selections.length == 0">
    Checkout
  </button>
</div>
