<div class="page-sidebar">
  <nav class="navbar" role="navigation">
    <!-- Brand and toggle get grouped for better mobile display -->
    <!-- Collect the nav links, forms, and other content for toggling -->
    <ul class="nav navbar-nav margin-bottom-35">
      <li class="btn btn-outline-primary btn-block" [class.active]="currentCategory == null">
        <a href="#" (click)="setCurrentCategory(null)">
           Voir tout
        </a>
      </li>
      <li *ngFor="let category of categories" href="#" class="btn btn-outline-primary btn-block"
     [class.active]="currentCategory == category">
        <a href="#" (click)="setCurrentCategory(category)">
           {{ category }}
        </a>
      </li>
    </ul>
    
  </nav>
</div>
