<div class="wrapper">
  <!-- BEGIN HEADER -->
  <header class="page-header">
    <nav class="navbar mega-menu" role="navigation">
      <div class="container-fluid">
        <div class="clearfix navbar-fixed-top">
          <!-- Brand and toggle get grouped for better mobile display -->
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-responsive-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="toggle-icon">
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </span>
          </button>
          <!-- End Toggle Button -->
          <!-- BEGIN LOGO -->
          <a id="index" class="page-logo" routerLink="/">
            RovaShop
          </a>
          <!-- END LOGO -->
          <!-- BEGIN SEARCH -->
          <div class="search">
            <input type="name" class="form-control" name="query" placeholder="Search...">
            <a href="javascript:;" class="btn submit md-skip">
              <i class="fa fa-search"></i>
            </a>
          </div>
          <div class="topbar-actions">
            <store-cartsummary></store-cartsummary>
          </div>
        </div>
        <!-- BEGIN HEADER MENU -->
        <div class="nav-collapse collapse navbar-collapse navbar-responsive-collapse">
          <ul class="nav navbar-nav">
            <li class="dropdown dropdown-fw dropdown-fw-disabled  active open selected" routerLink="/" routerLinkActive="active open selected">
              <a href="javascript:;" class="text-uppercase">
                <i class="icon-home"></i> Acceuil
              </a>
            </li>
            <li class="dropdown dropdown-fw dropdown-fw-disabled" routerLink="/contact" routerLinkActive="active">
              <a href="javascript:;" class="text-uppercase">
                <i class="icon-puzzle"></i> Contact
              </a>
            </li>
          </ul>
        </div>
        <!-- END HEADER MENU -->
      </div>
      <!--/container-->
    </nav>
  </header>
  <!-- END HEADER -->
  <div class="container-fluid">
    <div class="page-content">
      <div class="page-container">
        <div class="row">
          <div class="col-lg-3">
            <store-categoryfilter></store-categoryfilter>
          </div>
          <!-- /.col-lg-3 -->
          <div class="col-lg-9">
            <div class="row">
              <store-product-list></store-product-list>

            </div>
            <div class="row">
              <store-pagination></store-pagination>
            </div>
            <!-- /.row -->
          </div>
          <!-- /.col-lg-9 -->
        </div>
      </div>

    </div>
</div>
</div>
