<div *ngIf="products?.length > 0; else nodata" class="row">
  <div class="col-md-12">
    <div class="portlet light portlet-fit ">
      <div class="portlet-title">
        <div class="caption">
          <i class=" icon-layers font-green"></i>
          <span class="caption-subject font-green bold uppercase">Liste des produits</span>
        </div>
      </div>
      <div class="portlet-body">
        <div class="mt-element-card mt-element-overlay">
          <div class="row">
            <div *ngFor="let product of products" class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
              <div class="mt-card-item">
                <div class="mt-card-avatar mt-overlay-1">
                  <img src="../assets/pages/img/avatars/team1.jpg" />
                  <div class="mt-overlay">
                    <ul class="mt-info">
                      <li>
                        <a class="btn default btn-outline" href="javascript:;">
                          <i class="icon-magnifier"></i>
                        </a>
                      </li>
                      <li>
                        <a class="btn default btn-outline" href="javascript:;">
                          <i class="icon-link"></i>
                        </a>
                      </li>
                    </ul>
                  </div>
                </div>
                <div class="mt-card-content">
                  <h3 class="mt-card-name">{{product.name}}</h3>
                  <h4>{{product.price | currency:"EUR":true}}</h4>
                  <p class="mt-card-desc font-grey-mint">{{product.description}}</p>
                  <div class="mt-card-social">
                    <store-ratings [product]="product"></store-ratings>
                    <button class="float-right btn btn-sm btn-success"
                            (click)="addToCart(product)">
                      Add to Cart
                    </button>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

  <ng-template #nodata>
    <h4 class="m-1">Waiting for data...</h4>
  </ng-template>
