<div class="navbar bg-info mb-1">
  <a class="navbar-brand text-white">Shop rova Admin</a>
</div>
<h4 *ngIf="showError" class="p-2 bg-danger text-white">
  Invalid username or password
</h4>
<form novalidate #authForm="ngForm">
  <div class="form-group">
    <label>Name:</label>
    <input #name="ngModel" name="name" class="form-control"
           [(ngModel)]="authService.name" required />
    <div *ngIf="name.invalid" class="text-danger">
      Please enter your user name
    </div>
  </div>
  <div class="form-group">
    <label>Password:</label>
    <input type="password" #password="ngModel" name="password"
           class="form-control" [(ngModel)]="authService.password" required />
    <div *ngIf="password.invalid" class="text-danger">
      Please enter your password
    </div>
  </div>
  <div class="text-center pt-2">
    <button class="btn btn-primary" [disabled]="authForm.invalid"
            (click)="login()">
      Login
    </button>
  </div>
</form>
