@{
  ViewData["Title"] = "Acceuil";
}

@section scripts {
  <script src="~/dist/inline.bundle.js" asp-append-version="true"></script>
  <script src="~/dist/polyfills.bundle.js" asp-append-version="true"></script>
  <script src="~/dist/vendor.bundle.js" asp-append-version="true"></script>
  <script src="~/dist/main.bundle.js" asp-append-version="true"></script>
}

<div class="p-1">
  <app-root></app-root>
</div>
