<h2 class="text-center">Résumé</h2>
<div class="container">
  <table class="table m-2">
    <tr><th>Nom</th><td>{{order.name}}</td></tr>
    <tr><th>Address</th><td>{{order.address}}</td></tr>
    <tr><th>Produit</th><td>{{order.cart.itemCount}}</td></tr>
    <tr>
      <th>Prix total</th>
      <td>{{order.cart.totalPrice | currency:EUR:true }}</td>
    </tr>
  </table>
  <div class="text-center pt-2">
    <button class="btn btn-outline-primary" routerLink="/checkout/step2">
      Back
    </button>
    <button class="btn btn-danger" (click)="submitOrder()">
      Commander
    </button>
  </div>
</div>
