<h2 class="text-center">Order Confirmation</h2>
<div class="container">
  <table *ngIf="order.orderConfirmation; else nodata" class="table m-2">
    <tr><th>Commande</th><td>{{order.orderConfirmation.orderId}}</td></tr>
    <tr><th>Prix</th><td>{{order.orderConfirmation.amount}}</td></tr>
    <tr><th>Code de payement</th><td>{{order.orderConfirmation.authCode}}</td></tr>
  </table>
  <div class="text-center">
    <button class="btn btn-primary" routerLink="/">Finish</button>
  </div>
  <ng-template #nodata>
    <h3 class="text-center">Envoie de la commande...</h3>
  </ng-template>
</div>
